<!doctype html>
<html class="" lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
	
	<meta charset="utf-8"/>
	<title>MapleCrew - Not your mama's site</title>
	
	<link rel="icon" href="/UI/img/favicon.ico" type="image/x-icon"> 
	<link rel="shortcut icon" href="/UI/img/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet/less" type="text/css" href="/UI/less/bootstrap.less">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	
	<script src="/UI/js/less.js" type="text/javascript"></script>
	
	<script src="/UI/js/bootstrap-transition.js"></script>
	<script src="/UI/js/bootstrap-alert.js"></script>
	<script src="/UI/js/bootstrap-modal.js"></script>
	<script src="/UI/js/bootstrap-dropdown.js"></script>
	<script src="/UI/js/bootstrap-scrollspy.js"></script>
	<script src="/UI/js/bootstrap-tab.js"></script>
	<script src="/UI/js/bootstrap-tooltip.js"></script>
	<script src="/UI/js/bootstrap-popover.js"></script>
	<script src="/UI/js/bootstrap-button.js"></script>
	<script src="/UI/js/bootstrap-collapse.js"></script>
	<script src="/UI/js/bootstrap-carousel.js"></script>
	<script src="/UI/js/bootstrap-typeahead.js"></script>
	
	<script src="/UI/js/jquery.masonry.min.js"></script>
	
</head>
<body>

