<div class="page_container">

	<section class="feed">
	
		<header>
			<h1>Your Bros</h1>
		</header>
	
	</section>

	<section class="interests">

		<header>
			<h1>Your Interests</h1>
			<a href="#">+ add interests</a>
		</header>
		<div class="content">
			<div class="masonry">
				{{#interests}}
				<div class="box">
					<div class="picframe">
						<a title="{{#from}}{{name}}{{/from}}   {{name}}" href="{{source}}" class="fancybox" rel="interests"><img src="{{picture}}" class="pic"></a>
					</div>
					<div class="caption">
						<a href="#">{{#from}}{{name}}{{/from}}</a> {{name}}
					</div>
				</div>
				{{/interests}}
				
				<nav id="page-nav">
				  <a href="/UI/index.php?section=interests&page={{page}}"></a>
				</nav>
				
			</div>
			
			
		</div>

	</section>

</div>